<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ejemplo Plan de Mejoramiento</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="dbejemplo.firebaseapp.com">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <!--firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-auth.js"></script>

<!-- Leave out Storage -->
<!-- <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-storage.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDCYmNnJIVEPcWKdd8CZJUivYdV2MVKpMM",
    authDomain: "dbejemplo.firebaseapp.com",
    databaseURL: "https://dbejemplo.firebaseio.com",
    projectId: "dbejemplo",
    storageBucket: "",
    messagingSenderId: "731706199060"
  };
</script>
    <!-- Navigation -->
    <div id="elemento">
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#">Plan de Mejoramiento</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
            <a class="nav-link" @click="mostrar2()">
              <i class="fa fa-book"></i>
              <span class="nav-link-text">
                LIDERAR</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" @click="mostrar1()">
              <i class="fa fa-cubes"></i>
              <span class="nav-link-text">
                Planeador</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" @click="mostrar3()">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">
                Tables</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-wrench"></i>
              <span class="nav-link-text">
                Components</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseComponents">
              <li>
                <a href="static-nav.html">Static Navigation</a>
              </li>
              <li>
                <a href="#">Custom Card Examples</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">
                Example Pages</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseExamplePages">
              <li>
                <a href="login.html">Login Page</a>
              </li>
              <li>
                <a href="register.html">Registration Page</a>
              </li>
              <li>
                <a href="forgot-password.html">Forgot Password Page</a>
              </li>
              <li>
                <a href="blank.html">Blank Page</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-sitemap"></i>
              <span class="nav-link-text">
                Menu Levels</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseMulti">
              <li>
                <a href="#">Second Level Item</a>
              </li>
              <li>
                <a href="#">Second Level Item</a>
              </li>
              <li>
                <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                <ul class="sidenav-third-level collapse" id="collapseMulti2">
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-link"></i>
              <span class="nav-link-text">
                Link</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-power-off"></i>
              Cerrar sesion</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    <div class="content-wrapper">
      <div class="container-fluid">
      <div v-if="ocultar2">
      <plantilla></plantilla>
      </div>
       <div v-if="ocultar3">
      <plantilla2></plantilla2>
      </div>
       <!-- Tabla -->
        <div  v-show="ocultar">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-plus-circle"></i>
            Nueva Actividad
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <form>
                      <div class="form-row" align="center">
                        <div class="form-group col-md-6">
                          <i class="fa fa-bars"></i>
                          <label for="inputEmail4" class="col-form-label"> Actividad</label>
                          <input class="form-control"  v-model="nuevaActividad">
                        </div>
                        <div class="form-group col-md-6">
                          <i class="fa fa-pencil-square-o"></i>
                          <label for="inputPassword4" class="col-form-label">Descripción</label>
                          <input class="form-control" v-model="nuevaDescripcion">
                        </div>
                       <div class="form-group col-md-6">
                         <i class="fa fa-user-o"></i>
                         <label for="inputEmail4" class="col-form-label">Responsable</label>
                         <input class="form-control"  v-model="nuevoResponsable">
                       </div>
                        <div class="form-group col-md-6">
                          <i class="fa fa-calendar"></i>
                          <label for="inputPassword4" class="col-form-label">Fecha</label>
                          <input type="date" v-model="fecha" class="form-control">
                        </div>
                       </div>
                       <div align="center" >
                       <button class="btn btn-primary" @click="agregarActividad(nuevaActividad,nuevoResponsable,
                       nuevaDescripcion, fecha)"><span class="fa fa-plus-square"></span> Agregar</button>
                       </div>
                </form>
            </div>
          </div>
           <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-table" aria-hidden="true"></i>
                Actividades
              </div>
                  <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                    <td scope="row" align="center"><i class="fa fa-bars"></i> Actividad</td>
                    <td scope="row" align="center"><i class="fa fa-pencil-square-o"></i> Descripción</td>
                    <td scope="row" align="center"><i class="fa fa-user-o"></i> Responsable</td>
                    <td scope="row" align="center"><i class="fa fa-calendar"></i> Fecha</td>
                    <td scope="row" align="center"><i class="fa fa-wrench" aria-hidden="true"></i> Opciones</td>
                    <tr v-for="(actividades, index) in datos">
                    <td><p v-show="editandoTarea != index" scope="row" align="center">{{actividades.Actividad}}<p><input 
                    type="text" class="form-control" 
                    v-model="actividades.Actividad" v-show="editandoTarea === index"></td>
                    <td><p v-show="editandoTarea != index" scope="row" align="center"scope="row" align="center">
                    {{actividades.Descripción}}</p><input type="text" class="form-control" 
                    v-model="actividades.Descripción" v-show="editandoTarea === index" ></td>
                    <td><p v-show="editandoTarea != index" scope="row" align="center"scope="row" align="center"scope="row" 
                    align="center">{{actividades.Responsable}}</p><input type="text" class="form-control" 
                    v-model="actividades.Responsable" v-show="editandoTarea === index" ></td>
                    <td><p v-show="editandoTarea != index" scope="row" align="center"scope="row" align="center"scope="row" 
                    align="center">{{actividades.Fecha}}</p><input type="date" class="form-control" 
                    v-model="actividades.Fecha"v-show="editandoTarea === index" ></td>
                    <!--opciones-->
                    <!--Confirmar-->
                    <td align= "center"><button class="btn btn-primary" v-show="editandoTarea === index" 
                    @click="editandoTarea = null, editar(actividades)"><span class="fa fa-check"></span></button>
                    <div align= "center">
                    <!--Progreso-->
                    <button  class="btn btn-light" @click="progress = index, mostrarTitulo(actividades)" v-show="editandoTarea === null "><i class="fa fa-eye" 
                    class="nav-link" data-toggle="modal" data-target="#progreso"></i></button>
                    <!--Editar-->
                    <button  class="btn btn-primary" @click="editandoTarea = index" v-show="editandoTarea === null">
                    <span class="fa fa-pencil-square-o"></span></button>
                    <!--Eliminar-->
                    <button  class="btn btn-danger" @click="eliminar(actividades)" v-show="editandoTarea === null">
                    <span class="	fa fa-close"></span></button>
                    </div>
                    </td>        
                    </tr>
                  </table>
                  </div>
                  </div>
                <pre>{{$data | json}}</pre> 
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fa fa-exclamation-circle"></i>
            Estas seguro de que deseas cerrar sesión?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="login.html">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
    <!--Progreso modal-->
    <div class="modal fade" id="progreso" v-show="progress === index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--progreso-->
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" 
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

               <!--<input type="text" v-model="tarea">
               <button class="btn btn-primary" @click="agregarTarea(tarea)">
               <span class="fa fa-plus-square"></span></button>-->

              <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" >Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
   </div>
                
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="./vue.js"></script>
    <script src="./app.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


    
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>



    <!-- Custom scripts for this template -->
    <script src="js/sb-admin.min.js"></script>
  </body>

</html>
