<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registrarse</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">
     <div id="elemento">

    <div class="container">

      <div class="card card-register mx-auto mt-5">
        <div class="card-header">
          <i class="fa fa-address-card-o"></i>
          Registrar Cuenta
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputName">Nombre</label>
                  <input type="text" class="form-control" v-model="nombre" aria-describedby="nameHelp" placeholder="Ingrese su nombre">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputLastName">Apellido</label>
                  <input type="text" class="form-control"  v-model="apellido" aria-describedby="nameHelp" 
                  placeholder="Ingrese su apellido">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ingrese su correo electrónico</label>
              <input type="email" class="form-control"  v-model="email" aria-describedby="emailHelp" 
              placeholder="Ingrese su correo electrónico">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control"  v-model="password" placeholder="Contraseña">
                </div>
                <div class="col-md-6">
                  <label for="exampleConfirmPassword">Confirmar contraseña</label>
                  <input type="password" class="form-control"  v-model="cPassword" placeholder="Confirmar contraseña">
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-block" @click="crearUsuario(nombre, apellido, email, password, cPassword)" href="login.html">Registrarme</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Inicio de sesión</a>
            <!--<a class="d-block small" href="forgot-password.html">drrrr</a>-->
          </div>
        </div>
      </div>
    </div>
     </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="./app.js"></script>

  </body>

</html>
